<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Movies</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Movies</h1>
        
        <ul>
            <li th:each="movie ${movies}">
                <a th:href="@{/movies/{movieId}(movieId=${movie.id})}" th:text="${movie.name}">movie name</a>

                <form th:action="@{/movies/{movieId}(movieId=${movie.id})}" th:method="DELETE">
                    <input type="submit" value="Remove" th:id="${'remove-' + movie.id}"/>
                </form>
            </li>
        </ul>

        <h2>Add a new movie</h2>
        <form th:action="@{/movies}" method="POST">
            <p>Name: <input type="text" name="name"></input></p>
            <p>Length in minutes: <input type="number" name="lengthInMinutes"></input></p>
            <input type="submit" value="Add"></input>
        </form>
        
    </body>
</html>
