<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Events</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Events</h1>
        
        <table>
            <tr>
                <th></th>
                <th></th>
            </tr>

            <tr th:each="event : ${events}">
                <td>
                    <span th:text="${#dates.format(event.date, 'dd-MM-yyyy')}"></span>
                    <a th:href="@{/events/{eventId}(eventId=${event.id})}" th:text="${event.name}">event name</a>
                </td>
                <td>
                    <form th:action="@{/events/{eventId}(eventId=${event.id})}" th:method="DELETE">
                        <input type="submit" value="Remove" th:id="${'remove-' + event.id}"/>
                    </form>
                </td>
            </tr>
        </table>
        
        <h2>Add a new event</h2>
        <form th:action="@{/events}" method="POST">
            <p>Name: <input type="text" name="name"></input></p>
            <p>Date: <input type="date" name="date"></input></p>
            <input type="submit" value="Add"></input>
        </form>
        
        <div><a href="/movies">Movies</a></div>
        
    </body>
</html>
