<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${movie.name}">JCVD</title>
    </head>
    <body>

        <h1><span th:text="${movie.name}">JCVD</span></h1>
        
        <div><a th:href="@{http://www.imdb.com/title/tt{code}(code=${movie.imdbCode})}">Link to imdb-page of the movie</a></div>

        <h2>Events</h2>

        <div>
            <ul>
                <li th:each="choice : ${movie.choices}" th:text="${choice.event.name}"></li>
            </ul>
        </div>

        <div><a href="/movies">Back to list of movies</a></div>

    </body>

</html>