<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${movie.name}">JCVD</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>

        <h1><span th:text="${movie.name}">JCVD</span></h1>
        
        <div><a th:href="@{http://www.imdb.com/title/tt{code}(code=${movie.imdbCode})}">Link to imdb-page of the movie</a></div>

        <h2>Events</h2>
        <h3>Note: If the same event is mentioned repeatedly, it means that the movie has been watched that many times during the event.</h3>

        <div>
            <ul>
                <li th:each="choice : ${movie.choices}" th:text="${choice.event.name}"></li>
            </ul>
        </div>

        <div><a href="/movies">Back to list of movies</a></div>

    </body>

</html>